*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif; 

}


header{
    width: 100%;
    height: 750px;
    background-image: url(image\ 7.png);
     background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
    background-size: cover;
    position: relative;
    background-position: center;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0 100px;
    position: relative;
}
ul li a{
    padding: 60px;
    color: white;
    font-size: 15px;
}
a{
    color: white;
    font-size: 20px;
    padding:0 60px
 }
.div1{
    position: absolute;
    height: 300px;
    border-radius: 20px;
    background-color:white;
    left: 50%;
    top: 100%;
     transform: translate(-50%,-50%);
     padding: 10px;
     border: 10px;
     box-shadow: 0 0 50px #14bbc443;
}
.div1 h1{
    color:#008ec4;
    display: flex;
    font-size: 50px;

}
.div1 p{
    font-size: 20px;
    display: flex;
    align-items: start;
    margin: 5px;
}
.div2{
    background-color:rgb(250, 250, 250);
    border: 1px solid black;
    border-radius: 80px;
    display: flex;
    padding: 20px; 
    align-items: center;  
    margin: 30px; 
}
.divA{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 2px solid rgb(147, 145, 145);
    padding: 10px;
}
.divE{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#008ec4;
    border-radius: 50px;
}
.fa-solid{
    color: #8e8e8e;
    font-size: 30px;
}
.fa-magnifying-glass{
    color: white;
}
a h1{
    color: white;
}


 .nav1 {
    justify-content: center;
    font-size: 25px;
    padding: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
   
}
.all{
    width: 100%;
    display: flex;
    justify-content:center;
    border: 2px solid ;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    gap: 50px;
padding: 50px;
}
.divB{
    border: 1px solid black;
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: max-content;
    width: max-content;
    position: relative;
  
padding: 35px;
}
 .divB i{
    font-size: 40px;
    padding-bottom: 30px;
    background-color:#ebf9ff;
    color: #008ec4;
height: 70px;
width: 70px;
border-radius: 30px;

}
.divB h3{
    padding-bottom: 20px;
}
.divB p{
    font-size: 20px;
}

.div4{
    justify-content: center;
    font-size: 25px;
    padding: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}
#mere3{
    h3{
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    display: flex;
    flex-direction: column;
    gap: 100px;
}
#sousfils3{
    display: flex;
    justify-content: space-between;
}
.mo{
    display: flex;
    gap: 15px;
}
#sousfils3{
    animation: keline 10s ease infinite;
}
@keyframes keline{
    from{
        transform: translate(1503px);
    }
to{
    transform: translateX(-8000 px);
    }

}
.team{
    justify-content: center;
    font-size: 25px;
    padding: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
   
}
.le h1{
    justify-content: center;
    font-size: 50px;
    padding: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
   
}
.div5{
    
}



    




