*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 750px;
    background-image: url(image\ 7.png);
     background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
    background-size: cover;
    position: relative;
    background-position: center;
    
  
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding: 0 100px;
   

}
ul li a{
    padding: 60px;
    color: white;
    font-size: 15px;
}
a{
    color: white;
    font-size: 20px;
    padding:0 60px
 }
.div1{
    position: absolute;
    height: 300px;
    width: 70%;
    border-radius: 20px;
    background-color:white;
    left: 50%;
    top: 100%;
     transform: translate(-50%,-50%);
     padding: 10px;
     border: 10px;
    
     

}
.div1 h1{
    color:rgb(13, 129, 161);
    display: flex;

}
.div1 p{
    font-size: 20px;
    display: flex;
    align-items: start;
    margin: 5px;

   
}
.div2{
    background-color:rgb(250, 250, 250);
    border: 1px solid black;
    border-radius: 80px;
    display: flex;
    padding: 20px; 
    align-items: center;  
    margin: 30px; 
  
}
.divA{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    border-right: 2px solid rgb(147, 145, 145);
    padding: 10px;
}
.divE{
    height: 30px;
    width: 30px;
    border: 2px;
        display: flex;
    align-items: center;
    background-color:aqua;
    border-radius: 20px;
    
}
a h1{
    color: white;
}


