body{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif; 

}


header{
    width: 100%;
    height: 750px;
    background-image: url(images/image\ 7.png);
     background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
    background-size: cover;
    position: relative;
    background-position: center;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 10px;
    padding: 0 100px;
    position: relative;
    text-decoration: none;
}
ul li a{
    padding: 60px;
    color: white;
    font-size: 15px;
}
a{
    color: white;
    font-size: 20px;
    padding:0 60px;
 }
.div1{
    position: absolute;
    height: 300px;
    border-radius: 20px;
    background-color:white;
    left: 50%;
    top: 100%;
     transform: translate(-50%,-50%);
     padding: 10px;
     border: 10px;
     box-shadow: 0 0 50px #14bbc443;
}
.div1 h1{
    color:#008ec4;
    display: flex;
    font-size: 50px;

}
.div1 p{
    font-size: 20px;
    display: flex;
    align-items: start;
    margin: 5px;
}
.div2{
    background-color:rgb(250, 250, 250);
    border: 1px solid black;
    border-radius: 80px;
    display: flex;
    padding: 20px; 
    align-items: center;  
    margin: 30px; 
}
.divA{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 2px solid rgb(147, 145, 145);
    padding: 10px;
}
.divE{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#008ec4;
    border-radius: 50px;
}
.fa-solid{
    color: #8e8e8e;
    font-size: 30px;
}
.fa-magnifying-glass{
    color: white;
}
a h1{
    color: white;
}


 .nav1 {
    justify-content: center;
    font-size: 25px;
    padding: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
   
}
.all{
    width: 100%;
    display: flex;
    justify-content:space-around;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    gap: 50px;
}
.divB{
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: max-content;
    width: max-content;
    position: relative;
  
padding: 35px;
}
 .divB i{
    font-size: 40px;
    padding-bottom: 30px;
    background-color:#ebf9ff;
    color: #008ec4;
height: 70px;
width: 70px;
border-radius: 30px;

}
.divB h3{
    padding-bottom: 20px;
}
.divB p{
    font-size: 20px;
}

.div4{
    justify-content: center;
    font-size: 25px;
    padding: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}
#mere3{
    h3{
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    margin-bottom: 30px;
}
#sousfils3{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.mo{
    display: flex;
    gap: 15px;
}
#sousfils3{
    animation: nourath 10s ease infinite;
}
@keyframes nourath{
    from{
        transform: translate(50px);
    }
to{
    transform: translateX(-8000 px);
    }

}
.team{
    justify-content: center;
    font-size: 25px;
    padding: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
   
}
.le {
    justify-content: center;
    font-size: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}

.grid{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 40px;
}

.card{
    width: 350px;
}

.img-wrapper{
    position: relative;
}

.img-wrapper img{
    width: 350px;
    height: 290px;
    object-fit: cover;
    border-radius: 20px;
}

.badge{
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: #8e8e8e;
    color: #ffff;
    border-radius: 2px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info span{
    font-size: 17px;
    font-weight: 700;
}
.nono{
    display: flex;
    justify-content: center;
}
.nono button{
background-color: white;
    width: 250px;
    height: 80px;
    margin: 50px;
    border-radius: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.le h1{
    font-size: 50px;
}

.voisin{
    background-image: url(images/image\ 13.png);
    background-size: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.voisin button{
    background-color: white;
    width: 250px;
    height: 80px;
    margin: 50px;
    border-radius: 50px;
    font-size: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.keline{
    height: 150px;
    background-color: transparent;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color:white;
    text-align: center;
}
.li{
    width: 60%;
     height:1px;
     background-color: #ebf9ff;
     
}
.B12{
    display: flex;
     justify-content: space-around;
     gap: 30px;
     left: 50px;
}
.noura{
    background-color: transparent;
    width: 500px;
    height: 250px;
    font-size: 20px;
    color: white;
}
.mouna{
    width: 250px;
    height: 300px;
    display: flex;
    border-radius: 16px;
}
.text{
    display: flex;
    gap: 50px;
}
.mouna img{
    width: 250px;
}
.aziz{
    width: 250px;
    height: 40px;
    color: white;
    position: absolute;
    margin-top: 320px;
}
.arnau{
    height:600px;
    display: block;
    justify-content: center;
    gap: 40px;
}
 .arnau.txt{
    top: 50px;
    font-size: 20px;
    
}
.lala{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
    gap: 40px;
}
.papa{
    height: 600px;
    width: 400px;
    border:2px solid black;
    box-shadow: #191818 #ebf9ff;
    border-radius: 50px;
    display: flex;
 }
.txt{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10px;
    margin-top: 100px;
    margin-left: 350px;

}
.sens{
    display: flex; 
}
 .txt.sens.dg{
    width: 50px;
    height: 50px;
    border: 2 px solid black;
}
.lulu img{
    width: 400px;
    height: 250px;
    border-radius: 30px;
} 

.lulu{
    display: block;
    justify-content: center;
}
hr{
    width: 85%;
    margin-bottom: 30px;
    margin-left: 150px;
}
.plage{
    width: 100%;
    height: 600px;
    border: 2px solid black;
    background:linear-gradient(rgba(0, 0, 0, 0.534)),url(./images/WhatsApp\ Image\ 2026-02-25\ at\ 14.30.36.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.perso{
width: 350px;
height: 300px;
background-color: #ebf9ff;
border-radius: 20px;
}
.perso .photo img{
    width: 70px;
    height: 70px;
    margin-left: 50px;
    border-radius: 50px ;
    position: absolute;
    margin-top: -30px;
}
.il{
    justify-content: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}
.lulu h4{
    color: #008395;
    margin-left: 60px;
    font-size: 20px;
}
.lili{
    height: 500px;
    width: 100%;
    border: 2px solid black;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
 .lili .li1{
   height: 350px;
    width: 1100px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
background-color: #f3f4f5d8;
}
.liA{
    height: 350px;
    width: 450px;
    border: 2px solid black;
    border-radius: 50px;
    background-image: url(./images/WhatsApp\ Image\ 2026-02-28\ at\ 18.29.29.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.liB{
    height: 350px;
    width: 650px; 
    border-radius: 50px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
   
}
 .lili.liB.liC{
    height: 90px;
    width: 80px;
    background-color: black;
}
.liC .rlc{
    width: 500px;
    height: 60px;
    background-color: white;
    margin-left: 100px;
    border-radius: 40px;
}
footer{
    height: 700px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.citron{
    height: 300px;
    width: 300px;
    border: 2px solid beige;
    display: flex;
    margin: 70px;
    color: #ebf9ff;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: -30px;
}
.banane{
    height: 100px;
    width: 300px;
    border: 2px solid beige;
    margin: 70px;
}
.banane .ul{
width: 300px;
height: 100px;
border: 2px solid white;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
.banane .lu{
    width: 300px;
    height: 100px;
    border: 2px solid red;
}
.logo1{
    width: 300px;
    height: 100px;
    border: 2px solid white;  
}



