*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif; 

}


header{
    width: 100%;
    height: 750px;
    background-image: url(image\ 7.png);
     background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
    background-size: cover;
    position: relative;
    background-position: center;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0 100px;
    position: relative;
}
ul li a{
    padding: 60px;
    color: white;
    font-size: 15px;
}
a{
    color: white;
    font-size: 20px;
    padding:0 60px
 }
.div1{
    position: absolute;
    height: 300px;
    border-radius: 20px;
    background-color:white;
    left: 50%;
    top: 100%;
     transform: translate(-50%,-50%);
     padding: 10px;
     border: 10px;
     box-shadow: 0 0 50px #14bbc443;
}
.div1 h1{
    color:#008ec4;
    display: flex;
    font-size: 50px;

}
.div1 p{
    font-size: 20px;
    display: flex;
    align-items: start;
    margin: 5px;
}
.div2{
    background-color:rgb(250, 250, 250);
    border: 1px solid black;
    border-radius: 80px;
    display: flex;
    padding: 20px; 
    align-items: center;  
    margin: 30px; 
}
.divA{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 2px solid rgb(147, 145, 145);
    padding: 10px;
}
.divE{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#008ec4;
    border-radius: 50px;
}
.fa-solid{
    color: #8e8e8e;
    font-size: 30px;
}
.fa-magnifying-glass{
    color: white;
}
a h1{
    color: white;
}


 .nav1 {
    justify-content: center;
    font-size: 25px;
    padding: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
   
}
.all{
    width: 100%;
    display: flex;
    justify-content:center;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    gap: 50px;
    padding: 50px;
}
.divB{
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: max-content;
    width: max-content;
    position: relative;
  
padding: 35px;
}
 .divB i{
    font-size: 40px;
    padding-bottom: 30px;
    background-color:#ebf9ff;
    color: #008ec4;
height: 70px;
width: 70px;
border-radius: 30px;

}
.divB h3{
    padding-bottom: 20px;
}
.divB p{
    font-size: 20px;
}

.div4{
    justify-content: center;
    font-size: 25px;
    padding: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}
#mere3{
    h3{
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    display: flex;
    flex-direction: column;
    gap: 100px;
}
#sousfils3{
    display: flex;
    justify-content: space-between;
}
.mo{
    display: flex;
    gap: 15px;
}
#sousfils3{
    animation: nourath 10s ease infinite;
}
@keyframes nourath{
    from{
        transform: translate(50px);
    }
to{
    transform: translateX(-8000 px);
    }

}
.team{
    justify-content: center;
    font-size: 25px;
    padding: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
   
}
.le {
    justify-content: center;
    font-size: 50px;
    padding: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
   
}

.grid{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card{
    width: 350px;
}

.img-wrapper{
    position: relative;
}

.img-wrapper img{
    width: 350px;
    height: 290px;
    object-fit: cover;
    border-radius: 20px;
}

.badge{
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: #8e8e8e;
    color: #ffff;
    border-radius: 2px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.info span{
    font-size: 17px;
    font-weight: 700;
}
.nono{
    display: flex;
    justify-content: center;
}
.nono button{
background-color: white;
    width: 250px;
    height: 80px;
    margin: 50px;
    border-radius: 50px;
    font-size: 20px;
    display: flex; justify-content;
    justify-content: center;
    align-items: center;
}
.le h1{
    font-size: 50px;
}
.voisin{
    background-image: url(image\ 13.png);
    background-size: 100%;
    height: 700px;
    background-position: center;

}
.voisin button{
    background-color: white;
    width: 250px;
    height: 80px;
    margin: 50px;
    border-radius: 50px;
    font-size: 20px;
    display: flex; justify-content: center;
    align-items: center;
}

.keline{
    height: 150px;
    background-color: transparent;
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color:white;
    text-align: center;
}
.li{
    width: 60%;
     height:1px;
     background-color: #ebf9ff;
     
}
.B12{
    display: flex;
     justify-content: space-around;
     gap: 30px;
     left: 50px;
}
.noura{
    background-color: transparent;
    width: 500px;
    height: 250px;
    font-size: 20px;
    color: white;
}
.mouna{
    width: 250px;
    height: 300px;
    display: flex;
    border-radius: 20px;
}
.text{
    display: flex;
    gap: 50px;
}
.mouna img{
    width: 250px;
}
.arnau{
    height:600px;
    display: block;
    justify-content: center;
    gap: 40px;
}
 .arnau.txt{
    top: 50px;
    font-size: 20px;
    
}
.lala{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
    gap: 40px;
}
.papa{
    height: 600px;
    width: 400px;
    border:2px solid black;
    box-shadow: #191818 #ebf9ff;
    border-radius: 50px;
    display: flex;
 }
.txt{
    height: 30px;
    top: 0px;
}
.lulu img{
    width: 400px;
    height: 250px;
    border-radius: 30px;
} 
.lulu{
    
}
.juju{
    
}