body{
    padding: 0px;
    margin: 0px;
}
.all{
    width: 100%;
    display: flex;
    justify-content:center;
    border: 2px solid ;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;

}
.divB                    {
    border: 1px solid black;
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: max-content;
    width: max-content;
  
}
i{
    font-size: 40px;
}